.chat-input {
  width: 100%;
  background: $bg-app-blue;
  display: flex;
  justify-content: center;

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px; //
    box-sizing: border-box;

    // M Size
    @media (min-width: $breakpoint-mobile) {
      max-width: 640px;
    }
  }

  input {
    flex: 1;
    padding: 10px 16px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    outline: none;
  }

  button {
    padding: 12px 24px;
    background: $btn-coral;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
  }
}
