.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 24px;
  box-sizing: border-box;

  &__bubble {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid $bg-border;

    // DEFAULT: Mobile (S Size)
    max-width: 240px;

    background: $bg-other;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    word-break: break-word;

    // M Size & Desktop Override
    @media (min-width: $breakpoint-mobile) {
      max-width: 420px;
    }
  }

  &__author {
    font-size: 12px;
    color: $text-muted;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.4;
    color: $text-main;
  }

  &__timestamp {
    font-size: 12px;
    color: $text-muted;
    margin-top: 8px;
    align-self: flex-start;
  }

  &--own {
    align-items: flex-end;

    .message__bubble {
      background: $bg-own;
    }

    .message__timestamp {
      align-self: flex-end;
    }
  }
}
